

<nav class="navbar navbar-expand-lg navbar-light bg-light mb-6">
  <div class="container-fluid">
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
      
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Routes
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/route1">Route 1</a></li>
            <li><a class="dropdown-item" href="/route2">Route 2</a></li>
            <li><a class="dropdown-item" href="/route3">Route 3</a></li>
            <li><a class="dropdown-item" href="/route4">Route 4</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>