<div id="mainDiv">
<div id="rectangle">
    <div id="rectangle" style="height: 460px;">
        <div id="rectangle" style="height: 430px;">
            <div id="rectangle" style="height: 400px;">
                <div id="rectangle" style="height: 370px;">
                <div id="rectangle" style="height: 340px;">
                    <div id="rectangle" style="height: 310px;">
                        <div id="rectangle" style="height: 280px;">
                            <div id="rectangle" style="height: 250px;">
                                <div id="rectangle" style="height: 220px;">
                                <div id="rectangle" style="height: 190px;">
                                    <div class="rotate_me">  
                                        <div><span>Angular Assignment</span></div>
                                      </div>
                                </div>
                            </div>
                        </div>
                        </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    </div>
</div>
</div>
